<a class="" href="{{ .RelPermalink }}">

  <div class="card card-action">
    <div class="card-content">
      <header class="flex">
        <h2 class="is-size-6 card-title">{{ .Number }}.{{ .Title }}</h2>
        {{ $montant := int .Params.montant }}
        <div class="montant">
          {{ if eq $montant 0 }}
            <span>Non renseigné</span>
          {{ else }}
            <span>{{ $montant | lang.FormatNumber 0  }} € / {{ .Pourcentage }} €</span>
          {{ end }}
          <!-- / <span>{{ .Params.pourcentage  }}</span> -->
        </div>
      </header>
      {{ range $index, $element := .Params.tags }}
        <span class="tag">{{ . }}</span>
      {{ end }}
    </div>
  </div>
</a>
