<a class="" href="{{ .RelPermalink }}">

  <div class="card card-action">
    <div class="card-content">
      <header class="flex">
        <h2 class="is-size-6 card-title">{{ .Title }}</h2>
        {{ $montant := int .Params.montant }}
        <div class="montant">
          <span>{{ $montant | lang.FormatNumber 0  }} €</span> /
          <span>{{ .Params.pourcentage  }} €</span>
        </div>
      </header>
      {{ range $index, $element := .Params.tags }}
        <span class="tag">{{ . }}</span>
      {{ end }}
    </div>
  </div>
</a>
