<footer class="footer is-dark">
  <div class="container">
    <div class="columns menu-columns is-multiline">
      <div class="column is-one-third">
        <ul class="">
          {{ range .Site.Menus.footer }}
          {{ $text := print .Name | safeHTML }}
          <li>
            <a class="" href="{{ .URL }}">{{ $text }}</a>
          </li>
          {{ end }}
        </ul>
      </div>

      <div class="column is-two-third">
        <div class="content">
          Pour participer à la consultation sur le PCAET :
          <ul>
            <li>envoyer votre avis par mail à <a href="mailto:pcaet@dinan-agglomeration.fr">pcaet@dinan-agglomeration.fr</a></li>
            <li>si vous souhaitez que votre avis soit posté sur notre page <a href="avis">Avis</a> pour inciter à la participation et au débat, vous pouvez envoyer votre message en copie à <a href="mailto:contact@vigiliantes.fr">contact@vigiliantes.fr</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>