{{ define "main" }}
<main aria-role="main">
  <section class="hero is-light is-bold is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-spaced">
          {{ .Params.pageTitle }}
        </h1>
      </div>
    </div>
  </section>

<section class="section ">
  <div class="container is-tablet-width">
    <div class="column">
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<section class="section ">
  <div class="container is-tablet-width">
    <div class="column">
      <div class="content">
        <article class="message">
          <div class="message-body">
            <b>Pour participer à la consultation de Dinan Agglomération :</b>
            <ul>
              <li>envoyer votre avis par mail à <a href="mailto:pcaet@dinan-agglomeration.fr">pcaet@dinan-agglomeration.fr</a></li>
              <li>si vous souhaitez que votre message soit posté sur notre page <a href="avis">Avis</a> pour inciter à la participation et au débat, vous pouvez envoyer votre avis en copie à <a href="mailto:contact@vigiliantes.fr">contact@vigiliantes.fr</a></li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
</main>
{{ end }}